.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;

  text-align: center;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.title {
  font-size: 2.5rem;
  padding: 0.5em;
}

.container p {
  display: inline;
}

.container p:first-child {
  font-size: 1.5rem;
  font-weight: 700;
}

.postDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.9em;
}

.postDetails a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
