.postList {
  padding-block: var(--size-400);
}

.title {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
  margin-block: var(--size-500);
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem;
}
