.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.title {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
  margin-block: var(--size-500);
}
