.comment {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 6px 8px #bebebe;
  background-color: var(--clr-secondary-200);
}

.commentHeader {
  font-size: var(--fs-300);
}

.username {
  font-weight: var(--fw-semi-bold);
}
