.postsList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.postsList h1 {
  font-size: 2.5rem;
  padding: 0.5em;
}
.postsList {
  text-align: center;
}

.postsList p {
  display: inline;
  line-height: 2em;
}

.postsList p:first-child {
  font-size: 1.5rem;
  font-weight: 700;
}

.post{
  margin: 0.9em;
}

.post{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post a {
  display: flex;
  justify-content: center;
  align-items: center;
}