.logo {
  font-size: 4rem;
  text-decoration: none;
  color: rgb(0, 126, 217);
  letter-spacing: 0.2em;
  
}

.headerLeft{
  text-align: center;
  padding: 1em;
}

.headerRight div > * {
  margin: 0.5em;
}
.headerRight{
  display: flex;
  gap: 1em;
  align-items: center;
}
