body {
  margin: 5vh 15vw;
  background-color: #d2d2d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, 'Times New Roman';
}

.content {
  background-color: #bcbcbc;
  border-radius: 20px;
  padding: 0 5vw 5vh 5vw;
}

.card {
  padding: 2em;
}


form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

textarea {
  width: 300px;
  height: 150px;
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}
