.container {
  --padding: 1rem;

  width: calc(100% - (var(--padding) * 2));
  margin-inline: auto;
}

@media (min-width: 800px) {
  .container {
    --max-width: 960px;
    --padding: 4rem;
    width: min(var(--max-width), 100% - (var(--padding) * 2));
  }
}
