.logo {
  font-size: var(--fs-primary-heading);
  text-decoration: none;
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
  text-transform: uppercase;
}

.logoContainer {
  text-align: center;
  line-height: 1.2;
}

.hr {
  max-width: 960px;
  margin: 0 auto;
}
